@page "/eventRegistration/{CompanyEventId:int}"
@using BlazorCompanyEventsApp.Shared.Models;
@inject HttpClient Http

<h3>Event Registration for @currentCompanyEvent.Name</h3>

<EditForm Model="@participant" OnSubmit="@AddParticipantToEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
    <strong>Full Name</strong>
    <InputText id="name" DisplayName="Full Name" @bind-Value="participant.FullName"/>
    </div>

    <div>
    <strong>Email</strong>
    <InputText id="email" DisplayName="Email" @bind-Value="participant.Email" />
    </div>

    <div>
    <strong>Phone Number</strong>
    <InputText id="phoneNumber" DisplayName="Phone Number" @bind-Value="participant.PhoneNumber" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int CompanyEventId { get; set; }

    private Participant participant = new Participant();

    private CompanyEvent? currentCompanyEvent;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        currentCompanyEvent = await Http.GetFromJsonAsync<CompanyEvent>($"/api/companyevent/{CompanyEventId}");
    }

    private async void AddParticipantToEvent()
    {
        participant.CompanyEventId = CompanyEventId;
        await Http.PostAsJsonAsync($"/api/participant/", participant);
    }
}
